<mat-toolbar color="primary">
    <a class="logo" routerLink="/" style="text-decoration: none; color: inherit"> DexAtlas </a>

    <span style="margin-left: 5rem">Selected: {{ selectedGeneration()?.name || "None" }}</span>
    <span style="margin-left: 5rem">Gen Chosen: {{ genSelected() }}</span>

    <span class="spacer"></span>

    @for (f of features; track f.link) {
    <button mat-button [routerLink]="f.link" routerLinkActive="active-link">
        {{ f.title }}
    </button>
    }

    <button
        mat-icon-button
        (click)="toggleDark()"
        [attr.aria-label]="isDark() ? 'Switch to light mode' : 'Switch to dark mode'"
    >
        <mat-icon>{{ isDark() ? "light_mode" : "dark_mode" }}</mat-icon>
    </button>
</mat-toolbar>
