<div class="landing-container">
    <h1 class="header">Welcome to DexAtlas</h1>

    <div class="button-container">
        <app-clickable-card></app-clickable-card>
        <app-clickable-card></app-clickable-card>
        <app-clickable-card></app-clickable-card>
        <app-clickable-card></app-clickable-card>

        <!-- <mat-card class="feature-card" (mouseover)="hover=true" (mouseout)="hover=false">
        <mat-card-header>
            <mat-card-title>Region Map</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            @if (hover) {
                <p class="description">Explore the world of Pokémon!</p>
            }
        </mat-card-content>
        </mat-card> -->
    </div>
</div>
