.feature-card {
    --card-height: 150px;

    height: var(--card-height);
    width: 250px;

    border-radius: 8px;
    box-shadow: var(--mat-sys-level2);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    background-color: rgba($color: #000000, $alpha: 0);
    backdrop-filter: blur(25px);

    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;

    position: relative;
    // overflow: hidden;
}

.feature-card:hover {
    transform: translateY(-10px);
    box-shadow: var(--mat-sys-level4);
}

.title {
    position: relative;
    // Move up by 50% of the remaining space (card height minus content height)
    transform: translateY(calc((var(--card-height) / 4)));
    // transform: translateY(75px);
    margin-bottom: 0.5rem;
    transition: all 0.3s ease;
}

.feature-card:hover .title {
    transform: translateY(0);
}

.description {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease;
    text-wrap: wrap;
}

.feature-card:hover .description {
    opacity: 1;
    transform: translateY(0);
}
mat-card-content {
    padding-bottom: 0 !important;
}
