.transparent {
    background-color: rgba(0, 0, 0, 0);
}

.feature-card {
    --card-height: 150px;

    height: var(--card-height);
    width: 250px;
    padding: 16px;
    border-radius: 8px;
    box-shadow: var(--mat-sys-level2);
    cursor: pointer;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    backdrop-filter: blur(35px);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    .content-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        position: relative;
    }

    &:hover {
        transform: translateY(-10px);
        box-shadow: var(--mat-sys-level5);
    }
}

.title {
    position: absolute;
    width: 100%;
    text-align: center;
    margin: 0;
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateY(0);
    will-change: transform;
    z-index: 2; // Ensure title stays above description
}

.description {
    opacity: 0;
    transform: translateY(20px);
    text-align: center;
    width: 100%;
    margin: 0;
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    will-change: transform, opacity;
    position: relative;
    z-index: 1; // Ensure description stays below title
    padding-top: 8px;
}

.feature-card:hover {
    .title {
        transform: translateY(-20px);
    }

    .description {
        opacity: 1;
        padding-top: 12px;
    }
}

mat-card-content {
    padding: 0 !important;
}
