:host {
    display: flex;
    flex-direction: column;
    height: 100vh; // or 100dvh
    width: 100%;
}

.main-container {
    flex: 1 1 auto;
    min-height: 0; // Crucial for proper flexbox collapsing
    display: flex;
    flex-direction: column;
}

.content-wrapper {
    flex: 1;
    position: relative;
    min-height: 0; // Allows content area to collapse in flex layout

    > *:not(router-outlet) {
        position: absolute;
        height: 100%;
        width: 100%;
        min-height: 0; // Prevent content overflow
    }
}
