:host {
    display: flex;
    justify-content: center;
    height: 100%;
    flex: 1;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    grid-template-rows: repeat(3, max-content);
    gap: 4em 4em;
    justify-content: center;
    align-content: center;
}
